* {
    margin: 0px;
    padding: 0px;
    font-family: 'Dancing Script', serif;
}

.container-fluid {
    background-color: #e685ca;
}

.vHeader header{
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: #ff0095;
    transition: color 0.5s ease;
}


a:hover {
    color: #400a29;
}

html {
    scroll-behavior: smooth;
}



.main {
    background-color: #74175a;
    padding: 450px 0px;
}



.valentineHeader {
 
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 40px;


}

.valentineHeader h1 {
    font-size: 100px;
}

.imgContainer {
    padding-top: 100px;
    display: flex;
    height: 662px;
    gap: 5px;

}


.imgContainer img {
    width: 110px;
    height: 442px;


}


.imgContainer div {
    flex: 1;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.25, 0.4, 0.45, 1.4);


}

#her_message h1 {
    
    font-size: 40px;
    padding-top: 40px;
    
}

.imgContainer div:hover {
    flex: 4;
    transform: scale(1.05);
}

#priyaMessage {
    padding-top: 200px;
}


#priyaMessage h3 {
    font-size: 70px;
    
}

#priyaMessage p {
    font-family: "Dosis", serif;
    padding-top: 70px;
    font-size: 40px;
    
}

#openBox {
    padding: 450px;
    
}

#openBox h3 {
    font-size: 100px;
}



/* Box */




#box_class {
    background-color: #e685ca;
    padding: 400px 0px;
}

#box_class img {
    width: 750px;
    height: 750px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15%;
}


#box_class h1 {
    font-size: 100px;
    font-family: 'Dancing Script', serif;
    color: #74175a;
    letter-spacing: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.buttons > div{

    border-radius: 10px;
    padding: 25px;
    margin: 0px 25px;
    background-color: #74175a;
    color: #000000;
    font-size: 50px;
    font-family: 'Dancing Script', serif;
    letter-spacing: 10px;
}

.buttons > div:hover{
    background-color: #74175a;
    border-radius: 10px;
    color: #000000;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        border-radius: 10px;
    }
    50% {
        transform: scale(1.1);
        border-radius: 50px;
    }
    100% {
        transform: scale(1);
        border-radius: 10px;
    }
}
