* {
    margin: 0;
    padding: 0;

}

.container-fluid {
    background-color: #e685ca;
}

a {
    text-decoration: none;
    color: #ff0095;
    transition: color 0.5s ease;
}

a:hover {
    color: #400a29;
}

html {
    scroll-behavior: smooth;
}



.main {
    background-color: #74175a;
    padding: 450px 0px;
}



.valentineHeader {
    font-family: 'Dancing Script', serif;


    font-weight: bold;



    text-transform: uppercase;
    letter-spacing: 40px;


}

.valentineHeader h1 {
    font-size: 100px;
}

.imgContainer {
    padding-top: 100px;

    display: flex;
    height: 662px;


    gap: 5px;

}


.imgContainer img {
    width: 110px;
    height: 442px;


}


.imgContainer div {
    flex: 1;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
    transition: all 0.7s cubic-bezier(0.25, 0.4, 0.45, 1.4);


}

.imgContainer div:hover {
    flex: 4;
}

#priyaMessage{
    padding-top: 100px;
}

#priyaMessage h3{
    font-size: 50px;
    font-family: 'Dancing Script', serif;
}

#priyaMessage p{
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Dancing Script', serif;
}
